*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin-top: 1.5rem;
    background-color: white;
}

h1{
color: #54aa28;
font-size: 5rem;
margin-bottom: 1rem;
font-family: monospace;
}

nav{
    /* border: 2px solid black; */
    width: 600px;
    margin: auto;
    
}

ul li{
    /* border-top: 2px solid black; */
    font-size: 3rem;
    list-style-type: none;
    line-height: 7rem;
    
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
    border-radius: 10px;
}

a:hover{
background-color: skyblue;
color: white;
}